<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChallengeFrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info  border-bottom box-shadow mb-3" style="height:20vh">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <form id="formData" style="width:100%" method="post">
                        <div class="row">
                            <div class="col-lg-4">
                                <input class="form-control" type="hidden" id="Id" name="Id" value="0" required />
                                <input class="form-control" type="text" id="FirstName" name="FirstName" placeholder="First name" required />
                            </div>
                            <div class="col-lg-4">
                                <input class="form-control" type="text" name="LastName" placeholder="Last name" required />
                            </div>
                            <div class="col-lg-2">
                                <input class="form-control" type="number" name="Participation" placeholder="Participation" required />
                            </div>
                            <div class="col-lg-2">
                                <input class="btn btn-outline-light " type="submit" value="Send" />
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ChallengeFrontEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
